@import "tailwindcss";

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  
}


.typing-text {
  font-size: 24px;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  /* Cursor effect */
  width: 0;
  animation: typing 3s steps(40, end) infinite alternate, disappearing 3s infinite alternate;
}

/* Typing Effect */
@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* Disappearing Effect */
@keyframes disappearing {

  0%,
  100% {
    opacity: 1;
  }

}